<div class="container">

  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <form class="ask-form" action="http://localhost:3000/answer"+ @question_ask>
    <input class="input" type="text" name="question">
    <input class="button" type="submit" value="Ask">
  </form>

</div>

